<h2 mat-dialog-title>{{data?'Kartviziti Düzenle':'Yeni Kartvizit'}}</h2>
<mat-dialog-content class="mat-typography">
  <mat-progress-bar *ngIf="showSpinner" mode="indeterminate"></mat-progress-bar>
  <br>
    <form  [formGroup]="cardForm" *ngIf="cardForm">
      <mat-form-field class="example-full-width"  appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" >
      </mat-form-field>
      <mat-form-field class="example-full-width"  appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" >
      </mat-form-field>
      <mat-form-field class="example-full-width"  appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" >
      </mat-form-field>
      <mat-form-field class="example-full-width"  appearance="fill">
        <mat-label>Phone</mat-label>
        <input matInput formControlName="phone" mask="(000) 000-00-00" >
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Address</mat-label>
        <textarea matInput formControlName="address"></textarea>
      </mat-form-field>
      
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div class="flex-grow-1 text-start" *ngIf="data">
    <button mat-stroked-button color="warn" (click)="deleteCard()" [disabled]="showSpinner" >Sil</button>
  </div>
  <div>
    <button mat-stroked-button mat-dialog-close>Vazgeç</button>
    <button mat-flat-button color="primary" (click)="data?updateCard():addCard()" [disabled]="cardForm.invalid || showSpinner" >{{data?'Düzenle':'Ekle'}}</button>
  </div>
</mat-dialog-actions>